@import 'tailwindcss';

@font-face {
  font-family: nanum;
  src: url(../../public/fonts/NanumMyeongjo.otf);
}

@font-face {
  font-family: nanumB;
  src: url(../../public//fonts/NanumMyeongjoBold.otf);
}
@font-face {
  font-family: shilla;
  src: url(../../public/fonts/Shilla_Culture\(B\).ttf);
}

@theme {
  /* 폰트 설정 */
  --font-nanum: 'nanum';
  --font-nanumB: 'nanumB';
  --font-shilla: 'shilla';

  --color-white: #ffffff;
  --color-lightGray: #e1e1e1;
  --color-gray: #8d8d8d;
  --color-border: #999999;

  /* 또는 기존 시스템에 추가 */
  --text-extraTitle: 48px;
  --text-title: 36px;
  --text-mobileTitle: 32px;
  --text-smallTitle: 28px;
  --text-extraLarge: 24px;
  --text-large: 20px;
  --text-medium: 16px;
  --text-descript: 14px;
  --text-extraSmall: 12px;
}
